
.landing-page__container{
    width: 100vw; 
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1em;
    padding: 1em;
}

.landing-page__title {
    text-align: center;
    margin: 1em 0;
}

.landing-page__text{
    text-align: center;
    width: 70%;
    max-width: 250px;
}

.landing-page__pirate-ship{
    overflow: hidden;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 150%;
    z-index: 4;
}

.landing-page__sea {
    overflow: hidden;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 150%;
    z-index: 3;
}

.landing-page__ship-container{
    max-width: 100dvw;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

