
  
  .not-found-container {
    background-image: url('../assets/bottle.png');   
    width: 1400px;                                    
    margin: 0;
    height: 700px;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white; 
    padding: 20px;
    align-items: center;
    flex-direction: column;
  }
  
  .not-found-title {
   
    color: #eef4f5;
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 8px;
    text-shadow: 1px 1px 2px black;
  }

  .not-found-header {
    margin-top: 300px;
    color: #eef4f5;
    font-size: 4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px 2px black;
  }
  
  .not-found-flag {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .not-found-text {
    color: white;
    font-size: 1.2em;
    margin-top: 20px;
  }

  