.Footer {
    height: 3rem;
    padding: 1vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.125 rem;

    .active {
        text-decoration: underline;
        font-weight: bold;
    }

    img {
        vertical-align: sub
    }

    a {
        color: var(--almost-white);
    }

    a:visited {
        color: var(--almost-white);
    }
}