.footer {
    /* height: 4em; */
    padding: 1vh;
    background-color: rgb(101, 156, 155);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.active {
    text-decoration: underline;
    opacity: 60%;
}