ul, li, a {
    list-style: none;
    text-decoration: none;
    color: #333;
}

.navbar {
    height: 4em;
    background-color: rgb(17, 137, 218);
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar__links {
    width: 100%;
    display:flex;
    justify-content: space-around;
}