 .task-list-item {
    list-style-type: none;
    display: flex;
    /* flex-direction: column;   */
    align-items: center;     
    justify-content: center; 
    margin-bottom: 10px;    
  }

.task-checkbox {
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}  

.task-completed {
    color: #6c757d; 
    text-decoration: line-through; 
  }
  
  .assignee-name {
    text-align: center; 
    font-weight: bold; 
    margin-bottom: 10px; 
  }

  .task-list-item p {
    margin: 0;               
    text-align: center;      
  }