.DashboardPage__filter-active{
    color: var(--accent-color);
}

.assignee-name {
    font-weight: bold;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none; 
    padding-left: 0; 
  }
  

  li {
    margin-bottom: 20px; 
  }