:root {

  /** COLORS **/
  --primary-color: #034563; /* Secondary CTA enabled  */
  --primary-color-lighter: #39BCF9; /* Secondary CTA hover  */
  --primary-color-darker: #022231; /* Secondary CTA clicked  */
  --primary-color-inactive:#0345635f; /* Secondary CTA disabled */
  
  --accent-color: #02C0CA; /* Main CTA enabled  */
  --accent-color-lighter: #68F6FD; /* Main CTA hover */
  --accent-color-darker: #016065; /* Main CTA clicked */
  --accent-color-inactive: #02c0ca62; /* Main CTA disabled */

  --almost-white: #FFF8F4; /* background or text on dark background*/
  --almost-black: #011B28; /* text onn light background*/
  --almost-black-disabled: #011b2881; /* text on disabled CTA*/

  --dark-grey: #4A585E; /*borders and secondary text - e.g. a note*/
  --light-grey: #81949C; /*borders*/

  --error-bright: #F63513;
  --error-dull: #FCBCB0;

  --warning-bright: #FF8239;
  --warning-dull: #f6d9c8;

  --success-bright: #04F167;
  --success-dull: #A8FECC;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--almost-black)
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  background-color: var(--almost-white);
  padding: 1.5rem 1.5rem 1.5rem;
}

@media screen and (max-width: 600px) {
  main {
    padding: 3rem 1.5rem 0;
  }
}

p,
a,
label,
li,
input {
  font-size: 1.25rem;
}

.joint-button-input {
  border: 1px solid var(--dark-grey);
  border-radius: 10px 0px 0px 10px;
  height: 2.1rem;
  max-width: 25rem;
  color: var(--almost-black);
  font-size: 1rem;
  padding-left: 0.25rem;
  background-color: white;
}